Libraries Require

> numpy installion:
		-Latest (pip install numpy) or below
		-pip install numpy==1.16.2

> scikit-learn installion:
		-Latest (pip install scikit-learn) or below
		-pip install scikit-learn==0.21.1

> matplotlib installion:
		-Latest (pip install matplotlib) or below
		-pip install matplotlib==3.0.3

> Pandas installion:
		-Latest (pip install pandas) or below
		-pip install pandas==0.24.2

> Keras installion:
		-Latest (pip install Keras) or below
		-pip install Keras==2.2.4



